[submodule "external/CubicVR.js"]
    path = external/CubicVR.js
    url = git://github.com/cjcliffe/CubicVR.js.git
[submodule "external/ammo.js"]
    path = external/ammo.js
    url = git://github.com/kripken/ammo.js.git
[submodule "tools/qunit"]
    path = tools/qunit
    url = git://github.com/jquery/qunit.git
[submodule "external/gladius.math"]
	path = external/gladius.math
	url = git@github.com:alankligman/gladius.math.git
