[submodule "external/qunit"]
	path = external/qunit
	url = https://github.com/jquery/qunit.git
[submodule "external/CubicVR.js"]
	path = external/CubicVR.js
	url = git://github.com/cjcliffe/CubicVR.js.git
